### Open Flights Data Wrangling

To practice, you are going to wrangle data from OpenFlights.  You can read about it here: 

http://openflights.org/data.html

This includes three main files, one for each airport, one for each airline, and one for each route.  They can be merged or joined with the appropriate fields.  I have modified the files slightly to include a header row in the .dat files, which makes it a bit easier for you.  

You are required to work through the problems below.  This may take some time.  Be persistent, and ask questions or seek help as needed.

In [79]:
import pandas as pd
import numpy as np

In [82]:
# These files use \N as a missing value indicator.  When reading the CSVs, we will tell
# it to use that value as missing or NA.  The double backslash is required because
# otherwise it will interpret \N as a carriage return. 
airports = pd.read_csv('data/airports.txt', na_values=['\\N'])
airlines = pd.read_csv('data/airlines.txt', na_values=['\\N'])
routes = pd.read_csv('data/routes.txt', na_values=['\\N'])

1) Start by seeing what's in the data.  What columns are there?  What data types are the columns?  

Remember, 'object' means it is a string, while the numerical values can be floats or ints.  Sometimes you will have problems if it reads numeric data in as strings.  If that happens, you can use the function .astype() to convert it.  Look it up in the pandas API to get more details

In [83]:
routes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67663 entries, 0 to 67662
Data columns (total 9 columns):
Airline                   67663 non-null object
AirlineID                 67184 non-null float64
Source Airport            67663 non-null object
Source airport ID         67443 non-null float64
Destination airport       67663 non-null object
Destination airport ID    67442 non-null float64
Codeshare                 14597 non-null object
Stops                     67663 non-null int64
Equipment                 67645 non-null object
dtypes: float64(3), int64(1), object(5)
memory usage: 4.6+ MB

In [84]:
airlines

,"ï»¿""Airline""",ID,Name,Alias,IATA,ICAO,Callsign,Country,Active
0,-1,Unknown,NaN,-,NaN,NaN,NaN,Y,NaN
1,1,Private flight,NaN,-,NaN,NaN,NaN,Y,NaN
2,2,135 Airways,NaN,NaN,GNL,GENERAL,United States,N,NaN
3,3,1Time Airline,NaN,1T,RNX,NEXTIME,South Africa,Y,NaN
4,4,2 Sqn No 1 Elementary Flying Training School,NaN,NaN,WYT,NaN,United Kingdom,N,NaN
5,5,213 Flight Unit,NaN,NaN,TFU,NaN,Russia,N,NaN
6,6,223 Flight Unit State Airline,NaN,NaN,CHD,CHKALOVSK-AVIA,Russia,N,NaN
7,7,224th Flight Unit,NaN,NaN,TTF,CARGO UNIT,Russia,N,NaN
8,8,247 Jet Ltd,NaN,NaN,TWF,CLOUD RUNNER,United Kingdom,N,NaN
9,9,3D Aviation,NaN,NaN,SEC,SECUREX,United States,N,NaN
10,10,40-Mile Air,NaN,Q5,MLA,MILE-AIR,United States,Y,NaN
11,11,4D Air,NaN,NaN,QRT,QUARTET,Thailand,N,NaN
12,12,611897 Alberta Limited,NaN,NaN,THD,DONUT,Canada,N,NaN
13,13,Ansett Australia,NaN,AN,AAA,ANSETT,Australia,Y,NaN
14,14,Abacus International,NaN,1B,NaN,NaN,Singapore,Y,NaN
15,15,Abelag Aviation,NaN,W9,AAB,ABG,Belgium,N,NaN
16,16,Army Air Corps,NaN,NaN,AAC,ARMYAIR,United Kingdom,N,NaN
17,17,Aero Aviation Centre Ltd.,NaN,NaN,AAD,SUNRISE,Canada,N,NaN
18,18,Aero Servicios Ejecutivos Internacionales,NaN,NaN,SII,ASEISA,Mexico,N,NaN
19,19,Aero Biniza,NaN,NaN,BZS,BINIZA,Mexico,N,NaN
20,20,Aero Albatros,NaN,NaN,ABM,ALBATROS ESPANA,Spain,N,NaN
21,21,Aigle Azur,NaN,ZI,AAF,AIGLE AZUR,France,Y,NaN
22,22,Aloha Airlines,NaN,AQ,AAH,ALOHA,United States,Y,NaN
23,23,Alaska Island Air,NaN,NaN,AAK,ALASKA ISLAND,United States,N,NaN
24,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,NaN
25,25,Aviation Management Corporation,NaN,NaN,AAM,AM CORP,United States,N,NaN
26,26,Atlantis Airlines (USA),NaN,NaN,AAO,ATLANTIS AIR,United States,N,NaN
27,27,Aerovista Airlines,NaN,NaN,AAP,AEROVISTA GROUP,United Arab Emirates,N,NaN
28,28,Asiana Airlines,NaN,OZ,AAR,ASIANA,Republic of Korea,Y,NaN
29,29,Askari Aviation,NaN,4K,AAS,AL-AAS,Pakistan,Y,NaN
...,...,...,...,...,...,...,...,...,...
6132,20827,Fly France,Fly France,FF,FRF,NaN,France,Y,NaN
6133,20875,Jota Aviation,NaN,NaN,ENZ,ENZO,United Kingdom,Y,NaN
6134,20881,Europe Jet,Europe Jet,EX,EU9,NaN,France,Y,NaN
6135,20923,COBALT,COBALT,NaN,FCB,COBALT,Cyprus,Y,NaN
6136,20931,Southern Airways Express,Sun Air Express,NaN,LTD,LIGHTSPEED,United States,Y,NaN
6137,20961,Deutsche Luftverkehrsgesellschaft (DLT),NaN,DW,DWD,NaN,Germany,N,NaN
6138,20962,Orenburzhie,NaN,NaN,ORG,NaN,Russia,Y,NaN
6139,20963,Atlantic Air Cargo,NaN,K3,NaN,NaN,United States,N,NaN
6140,20976,World Scale Airlines,World Scale,W3,WSS,NaN,United States,Y,NaN
6141,20978,All America US,All America US,AG,SSA,NaN,United States,Y,NaN
6142,20986,University of Birmingham Air Squadron (RAF),8AEF RAF,NaN,UAY,UAY,United Kingdom,Y,NaN
6143,20991,Choice Airways,NaN,NaN,CSX,NaN,United States,Y,NaN
6144,20994,Aruba Airlines,NaN,NaN,ARU,NaN,Aruba,Y,NaN
6145,20995,BudgetAir,BudgetAir,1K,BG1,NaN,Germany,Y,NaN
6146,20996,Dynamic Airways,NaN,NaN,DYA,NaN,United States,Y,NaN
6147,21012,Fly One,Fly One,F5,FI5,NaN,Moldova,Y,NaN
6148,21021,Nordica,NaN,EE,NaN,REVAL,Estonia,Y,NaN
6149,21036,Tez Jet Airlines,NaN,NaN,TEZ,NaN,Kyrgyzstan,Y,NaN
6150,21043,Kush Air,NaN,NaN,KUH,NaN,South Sudan,Y,NaN
6151,21056,Dummy,NaN,0E,NaN,NaN,France,N,NaN
6152,21124,ViaAir,Charter Air Transport,NaN,SRY,Stingray,United States,Y,NaN
6153,21131,All America BOPY,All America BOPY,0P,PYB,BOPY,Paraguay,Y,NaN
6154,21179,Thai Vietjet Air,NaN,NaN,TVJ,THAIVIET JET,Thailand,Y,NaN
6155,21181,Air Andaman (2Y),NaN,2Y,AOW,AIR ANDAMAN,Thailand,N,NaN
6156,21240,TDA Toa Domestic Airlines,TDA,NaN,TDA,Toa Domes,Japan,N,NaN
6157,21248,GX Airlines,NaN,NaN,CBG,SPRAY,China,Y,NaN
6158,21251,Lynx Aviation (L3/SSX),NaN,NaN,SSX,Shasta,United States,N,NaN
6159,21268,Jetgo Australia,NaN,JG,NaN,NaN,Australia,Y,NaN
6160,21270,Air Carnival,NaN,2S,NaN,NaN,India,Y,NaN
6161,21317,Svyaz Rossiya,Russian Commuter,7R,SJM,RussianConnecty,Russia,Y,NaN

In [67]:
airlines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6162 entries, 0 to 6161
Data columns (total 8 columns):
ï»¿"AirlineID"    6162 non-null int64
Name            6162 non-null object
Alias           179 non-null object
IATA            1534 non-null object
ICAO            5887 non-null object
Callsign        5351 non-null object
Country         6144 non-null object
Active          6162 non-null object
dtypes: int64(1), object(7)
memory usage: 385.2+ KB

In [68]:
airlines.head()

,"ï»¿""AirlineID""",Name,Alias,IATA,ICAO,Callsign,Country,Active
0,-1,Unknown,NaN,-,NaN,NaN,NaN,Y
1,1,Private flight,NaN,-,NaN,NaN,NaN,Y
2,2,135 Airways,NaN,NaN,GNL,GENERAL,United States,N
3,3,1Time Airline,NaN,1T,RNX,NEXTIME,South Africa,Y
4,4,2 Sqn No 1 Elementary Flying Training School,NaN,NaN,WYT,NaN,United Kingdom,N

In [43]:
airlines.rename(columns={'"AirlineID"':'AirlineID'}, inplace=True)

In [46]:
airlines.head()

,"ï»¿""AirlineID""",Name,Alias,IATA,ICAO,Callsign,Country,Active
0,-1,Unknown,NaN,-,NaN,NaN,NaN,Y
1,1,Private flight,NaN,-,NaN,NaN,NaN,Y
2,2,135 Airways,NaN,NaN,GNL,GENERAL,United States,N
3,3,1Time Airline,NaN,1T,RNX,NEXTIME,South Africa,Y
4,4,2 Sqn No 1 Elementary Flying Training School,NaN,NaN,WYT,NaN,United Kingdom,N

In [62]:
routes.head()

,Airline,AirlineID,Source Airport,Source airport ID,Destination airport,Destination airport ID,Codeshare,Stops,Equipment
0,2B,410.0,AER,2965.0,KZN,2990.0,NaN,0,CR2
1,2B,410.0,ASF,2966.0,KZN,2990.0,NaN,0,CR2
2,2B,410.0,ASF,2966.0,MRV,2962.0,NaN,0,CR2
3,2B,410.0,CEK,2968.0,KZN,2990.0,NaN,0,CR2
4,2B,410.0,CEK,2968.0,OVB,4078.0,NaN,0,CR2

In [18]:
routes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67662 entries, 0 to 67661
Data columns (total 9 columns):
2B            67662 non-null object
410           67183 non-null float64
AER           67662 non-null object
2965          67442 non-null float64
KZN           67662 non-null object
2990          67441 non-null float64
Unnamed: 6    14597 non-null object
0             67662 non-null int64
CR2           67644 non-null object
dtypes: float64(3), int64(1), object(5)
memory usage: 4.6+ MB

In [19]:
print(len(routes))
routes.head()

67662

   2B    410  AER    2965  KZN    2990 Unnamed: 6  0  CR2
0  2B  410.0  ASF  2966.0  KZN  2990.0        NaN  0  CR2
1  2B  410.0  ASF  2966.0  MRV  2962.0        NaN  0  CR2
2  2B  410.0  CEK  2968.0  KZN  2990.0        NaN  0  CR2
3  2B  410.0  CEK  2968.0  OVB  4078.0        NaN  0  CR2
4  2B  410.0  DME  4029.0  KZN  2990.0        NaN  0  CR2

2) Select just the routes that go to or from Lexington Bluegrass Airport, and store them in their own dataframe.  

The airport code is LEX.  You should have a much smaller dataframe.  How many inbound routes and how many outbound routes are there?

In [50]:
df = routes[routes['Source Airport'] == 'LEX']
print(len(df))
df

20

,Airline,AirlineID,Source Airport,Source airport ID,Destination airport,Destination airport ID,Codeshare,Stops,Equipment
3588,9E,3976.0,LEX,4017.0,ATL,3682.0,NaN,0,CRJ
5763,AA,24.0,LEX,4017.0,CLT,3876.0,Y,0,CR7 CRJ
5764,AA,24.0,LEX,4017.0,DFW,3670.0,Y,0,ERD ER4
5765,AA,24.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4
9641,AF,137.0,LEX,4017.0,ATL,3682.0,Y,0,CRJ CR9
21095,DL,2009.0,LEX,4017.0,ATL,3682.0,NaN,0,M88 717
21096,DL,2009.0,LEX,4017.0,DCA,3520.0,Y,0,CRJ
21097,DL,2009.0,LEX,4017.0,DTW,3645.0,Y,0,CR7 CRJ CR9
21098,DL,2009.0,LEX,4017.0,LGA,3697.0,NaN,0,ERJ
21099,DL,2009.0,LEX,4017.0,MSP,3858.0,Y,0,CRJ
29047,G4,35.0,LEX,4017.0,FLL,3533.0,NaN,0,M80
29048,G4,35.0,LEX,4017.0,PGD,7056.0,NaN,0,M80
29049,G4,35.0,LEX,4017.0,PIE,3617.0,NaN,0,320
29050,G4,35.0,LEX,4017.0,SFB,4167.0,NaN,0,M80 320
36746,KL,3090.0,LEX,4017.0,ATL,3682.0,Y,0,CR9 CRJ
57029,UA,5209.0,LEX,4017.0,IAH,3550.0,Y,0,ERJ
57030,UA,5209.0,LEX,4017.0,ORD,3830.0,Y,0,ERJ CRJ
59544,US,5265.0,LEX,4017.0,CLT,3876.0,NaN,0,CR7
59545,US,5265.0,LEX,4017.0,DFW,3670.0,NaN,0,ERD
59546,US,5265.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4

In [51]:
df2 = routes[routes['Destination airport'] == 'LEX']
print(len(df2))
df2

20

,Airline,AirlineID,Source Airport,Source airport ID,Destination airport,Destination airport ID,Codeshare,Stops,Equipment
3569,9E,3976.0,ATL,3682.0,LEX,4017.0,NaN,0,CRJ
4953,AA,24.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7
5247,AA,24.0,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4
6283,AA,24.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4
9097,AF,137.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ 717
20164,DL,2009.0,ATL,3682.0,LEX,4017.0,NaN,0,M88 717
20534,DL,2009.0,DCA,3520.0,LEX,4017.0,Y,0,CRJ
20638,DL,2009.0,DTW,3645.0,LEX,4017.0,NaN,0,717
21131,DL,2009.0,LGA,3697.0,LEX,4017.0,Y,0,ERJ
21402,DL,2009.0,MSP,3858.0,LEX,4017.0,Y,0,CRJ
28951,G4,35.0,FLL,3533.0,LEX,4017.0,NaN,0,M80
29090,G4,35.0,PGD,7056.0,LEX,4017.0,NaN,0,M80
29120,G4,35.0,PIE,3617.0,LEX,4017.0,NaN,0,320
29187,G4,35.0,SFB,4167.0,LEX,4017.0,NaN,0,M80 320
36396,KL,3090.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ
56775,UA,5209.0,IAH,3550.0,LEX,4017.0,Y,0,ERJ
57322,UA,5209.0,ORD,3830.0,LEX,4017.0,Y,0,ERJ CRJ
58812,US,5265.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7
59096,US,5265.0,DFW,3670.0,LEX,4017.0,NaN,0,ERD
59924,US,5265.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4

3) Now let's look at which airlines operate in and out of Lexington.  To do this, you need to merge the airline dataframe to the route dataframe.  

How many routes does each airline have?  The value_counts() method may be useful for answering this question.

In [52]:
pd.value_counts(df2['AirlineID'])

2009.0    5
35.0      4
24.0      3
5265.0    3
5209.0    2
3090.0    1
137.0     1
3976.0    1
Name: AirlineID, dtype: int64

In [53]:
pd.value_counts(df['AirlineID'])

2009.0    5
35.0      4
24.0      3
5265.0    3
5209.0    2
3090.0    1
137.0     1
3976.0    1
Name: AirlineID, dtype: int64

In [47]:
pd.merge?

In [56]:
airlines.head()

,"ï»¿""AirlineID""",Name,Alias,IATA,ICAO,Callsign,Country,Active
0,-1,Unknown,NaN,-,NaN,NaN,NaN,Y
1,1,Private flight,NaN,-,NaN,NaN,NaN,Y
2,2,135 Airways,NaN,NaN,GNL,GENERAL,United States,N
3,3,1Time Airline,NaN,1T,RNX,NEXTIME,South Africa,Y
4,4,2 Sqn No 1 Elementary Flying Training School,NaN,NaN,WYT,NaN,United Kingdom,N

In [60]:
df_dep = pd.merge(df,airlines, left_on='AirlineID', right_on='"AirlineID"', how='left')
df_dep

KeyError: '"AirlineID"'

In [61]:
df2.head()

,Airline,AirlineID,Source Airport,Source airport ID,Destination airport,Destination airport ID,Codeshare,Stops,Equipment
3569,9E,3976.0,ATL,3682.0,LEX,4017.0,NaN,0,CRJ
4953,AA,24.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7
5247,AA,24.0,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4
6283,AA,24.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4
9097,AF,137.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ 717

In [137]:
df_arrive = pd.merge(df2,airlines, on='AirlineID', how='left')
df_arrive

,Airline,AirlineID,SourceAirport,SourceAirportID,DestAirport,DestAirportID,Codeshare,Stops,Equipment,Name,Alias,IATA,ICAO,Callsign,Country,Active
0,9E,3976.0,ATL,3682.0,LEX,4017.0,NaN,0,CRJ,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y
1,AA,24.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y
2,AA,24.0,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y
3,AA,24.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y
4,AF,137.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ 717,Air France,NaN,AF,AFR,AIRFRANS,France,Y
5,DL,2009.0,ATL,3682.0,LEX,4017.0,NaN,0,M88 717,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y
6,DL,2009.0,DCA,3520.0,LEX,4017.0,Y,0,CRJ,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y
7,DL,2009.0,DTW,3645.0,LEX,4017.0,NaN,0,717,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y
8,DL,2009.0,LGA,3697.0,LEX,4017.0,Y,0,ERJ,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y
9,DL,2009.0,MSP,3858.0,LEX,4017.0,Y,0,CRJ,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y
10,G4,35.0,FLL,3533.0,LEX,4017.0,NaN,0,M80,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y
11,G4,35.0,PGD,7056.0,LEX,4017.0,NaN,0,M80,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y
12,G4,35.0,PIE,3617.0,LEX,4017.0,NaN,0,320,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y
13,G4,35.0,SFB,4167.0,LEX,4017.0,NaN,0,M80 320,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y
14,KL,3090.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ,KLM Royal Dutch Airlines,NaN,KL,KLM,KLM,Netherlands,Y
15,UA,5209.0,IAH,3550.0,LEX,4017.0,Y,0,ERJ,United Airlines,NaN,UA,UAL,UNITED,United States,Y
16,UA,5209.0,ORD,3830.0,LEX,4017.0,Y,0,ERJ CRJ,United Airlines,NaN,UA,UAL,UNITED,United States,Y
17,US,5265.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7,US Airways,NaN,US,USA,U S AIR,United States,Y
18,US,5265.0,DFW,3670.0,LEX,4017.0,NaN,0,ERD,US Airways,NaN,US,USA,U S AIR,United States,Y
19,US,5265.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4,US Airways,NaN,US,USA,U S AIR,United States,Y

4) It looks like there are some international airlines with Lexington routes.  To look at how many routes they have, create a new column in your dataframe called 'International', which is set to Y for an overseas airline and N for a domestic airline.  Calculate the percent of routes with an overseas airline.

In [160]:
df_arrive['International'][0] = 'N'
df_arrive.head()

C:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,Airline,AirlineID,SourceAirport,SourceAirportID,DestAirport,DestAirportID,Codeshare,Stops,Equipment,Name,Alias,IATA,ICAO,Callsign,Country,Active,International
0,9E,3976.0,ATL,3682.0,LEX,4017.0,NaN,0,CRJ,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,N
1,AA,24.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
2,AA,24.0,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
3,AA,24.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
4,AF,137.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ 717,Air France,NaN,AF,AFR,AIRFRANS,France,Y,Y

In [161]:
for label in df_arrive.index:
    if df_arrive.Country[label] == 'United States':
        df_arrive['International'][label] = 'N'
    else:
        df_arrive['International'][label] = 'Y'
        
df_arrive

C:\Anaconda\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Anaconda\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Airline,AirlineID,SourceAirport,SourceAirportID,DestAirport,DestAirportID,Codeshare,Stops,Equipment,Name,Alias,IATA,ICAO,Callsign,Country,Active,International
0,9E,3976.0,ATL,3682.0,LEX,4017.0,NaN,0,CRJ,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,N
1,AA,24.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
2,AA,24.0,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
3,AA,24.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
4,AF,137.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ 717,Air France,NaN,AF,AFR,AIRFRANS,France,Y,Y
5,DL,2009.0,ATL,3682.0,LEX,4017.0,NaN,0,M88 717,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
6,DL,2009.0,DCA,3520.0,LEX,4017.0,Y,0,CRJ,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
7,DL,2009.0,DTW,3645.0,LEX,4017.0,NaN,0,717,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
8,DL,2009.0,LGA,3697.0,LEX,4017.0,Y,0,ERJ,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
9,DL,2009.0,MSP,3858.0,LEX,4017.0,Y,0,CRJ,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
10,G4,35.0,FLL,3533.0,LEX,4017.0,NaN,0,M80,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
11,G4,35.0,PGD,7056.0,LEX,4017.0,NaN,0,M80,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
12,G4,35.0,PIE,3617.0,LEX,4017.0,NaN,0,320,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
13,G4,35.0,SFB,4167.0,LEX,4017.0,NaN,0,M80 320,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
14,KL,3090.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ,KLM Royal Dutch Airlines,NaN,KL,KLM,KLM,Netherlands,Y,Y
15,UA,5209.0,IAH,3550.0,LEX,4017.0,Y,0,ERJ,United Airlines,NaN,UA,UAL,UNITED,United States,Y,N
16,UA,5209.0,ORD,3830.0,LEX,4017.0,Y,0,ERJ CRJ,United Airlines,NaN,UA,UAL,UNITED,United States,Y,N
17,US,5265.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7,US Airways,NaN,US,USA,U S AIR,United States,Y,N
18,US,5265.0,DFW,3670.0,LEX,4017.0,NaN,0,ERD,US Airways,NaN,US,USA,U S AIR,United States,Y,N
19,US,5265.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4,US Airways,NaN,US,USA,U S AIR,United States,Y,N

In [164]:
df_dep['International'] = 'Y'
df_dep

,Airline,AirlineID,SourceAirport,SourceAirportID,DestAirport,DestAirportID,Codeshare,Stops,Equipment,Name,Alias,IATA,ICAO,Callsign,Country,Active,International
0,9E,3976.0,LEX,4017.0,ATL,3682.0,NaN,0,CRJ,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,Y
1,AA,24.0,LEX,4017.0,CLT,3876.0,Y,0,CR7 CRJ,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,Y
2,AA,24.0,LEX,4017.0,DFW,3670.0,Y,0,ERD ER4,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,Y
3,AA,24.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,Y
4,AF,137.0,LEX,4017.0,ATL,3682.0,Y,0,CRJ CR9,Air France,NaN,AF,AFR,AIRFRANS,France,Y,Y
5,DL,2009.0,LEX,4017.0,ATL,3682.0,NaN,0,M88 717,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,Y
6,DL,2009.0,LEX,4017.0,DCA,3520.0,Y,0,CRJ,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,Y
7,DL,2009.0,LEX,4017.0,DTW,3645.0,Y,0,CR7 CRJ CR9,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,Y
8,DL,2009.0,LEX,4017.0,LGA,3697.0,NaN,0,ERJ,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,Y
9,DL,2009.0,LEX,4017.0,MSP,3858.0,Y,0,CRJ,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,Y
10,G4,35.0,LEX,4017.0,FLL,3533.0,NaN,0,M80,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,Y
11,G4,35.0,LEX,4017.0,PGD,7056.0,NaN,0,M80,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,Y
12,G4,35.0,LEX,4017.0,PIE,3617.0,NaN,0,320,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,Y
13,G4,35.0,LEX,4017.0,SFB,4167.0,NaN,0,M80 320,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,Y
14,KL,3090.0,LEX,4017.0,ATL,3682.0,Y,0,CR9 CRJ,KLM Royal Dutch Airlines,NaN,KL,KLM,KLM,Netherlands,Y,Y
15,UA,5209.0,LEX,4017.0,IAH,3550.0,Y,0,ERJ,United Airlines,NaN,UA,UAL,UNITED,United States,Y,Y
16,UA,5209.0,LEX,4017.0,ORD,3830.0,Y,0,ERJ CRJ,United Airlines,NaN,UA,UAL,UNITED,United States,Y,Y
17,US,5265.0,LEX,4017.0,CLT,3876.0,NaN,0,CR7,US Airways,NaN,US,USA,U S AIR,United States,Y,Y
18,US,5265.0,LEX,4017.0,DFW,3670.0,NaN,0,ERD,US Airways,NaN,US,USA,U S AIR,United States,Y,Y
19,US,5265.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4,US Airways,NaN,US,USA,U S AIR,United States,Y,Y

In [165]:
for label in df_dep.index:
    if df_dep.Country[label] == 'United States':
        df_dep['International'][label] = 'N'
    else:
        df_dep['International'][label] = 'Y'
        
df_dep

C:\Anaconda\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Anaconda\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Airline,AirlineID,SourceAirport,SourceAirportID,DestAirport,DestAirportID,Codeshare,Stops,Equipment,Name,Alias,IATA,ICAO,Callsign,Country,Active,International
0,9E,3976.0,LEX,4017.0,ATL,3682.0,NaN,0,CRJ,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,N
1,AA,24.0,LEX,4017.0,CLT,3876.0,Y,0,CR7 CRJ,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
2,AA,24.0,LEX,4017.0,DFW,3670.0,Y,0,ERD ER4,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
3,AA,24.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
4,AF,137.0,LEX,4017.0,ATL,3682.0,Y,0,CRJ CR9,Air France,NaN,AF,AFR,AIRFRANS,France,Y,Y
5,DL,2009.0,LEX,4017.0,ATL,3682.0,NaN,0,M88 717,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
6,DL,2009.0,LEX,4017.0,DCA,3520.0,Y,0,CRJ,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
7,DL,2009.0,LEX,4017.0,DTW,3645.0,Y,0,CR7 CRJ CR9,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
8,DL,2009.0,LEX,4017.0,LGA,3697.0,NaN,0,ERJ,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
9,DL,2009.0,LEX,4017.0,MSP,3858.0,Y,0,CRJ,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
10,G4,35.0,LEX,4017.0,FLL,3533.0,NaN,0,M80,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
11,G4,35.0,LEX,4017.0,PGD,7056.0,NaN,0,M80,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
12,G4,35.0,LEX,4017.0,PIE,3617.0,NaN,0,320,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
13,G4,35.0,LEX,4017.0,SFB,4167.0,NaN,0,M80 320,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
14,KL,3090.0,LEX,4017.0,ATL,3682.0,Y,0,CR9 CRJ,KLM Royal Dutch Airlines,NaN,KL,KLM,KLM,Netherlands,Y,Y
15,UA,5209.0,LEX,4017.0,IAH,3550.0,Y,0,ERJ,United Airlines,NaN,UA,UAL,UNITED,United States,Y,N
16,UA,5209.0,LEX,4017.0,ORD,3830.0,Y,0,ERJ CRJ,United Airlines,NaN,UA,UAL,UNITED,United States,Y,N
17,US,5265.0,LEX,4017.0,CLT,3876.0,NaN,0,CR7,US Airways,NaN,US,USA,U S AIR,United States,Y,N
18,US,5265.0,LEX,4017.0,DFW,3670.0,NaN,0,ERD,US Airways,NaN,US,USA,U S AIR,United States,Y,N
19,US,5265.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4,US Airways,NaN,US,USA,U S AIR,United States,Y,N

In [193]:
percent_int = len(df_dep[df_dep['DestAirport'] == 'CLT']) / len(df_arrive['Country'])
print(percent_int*100,'%')

10.0 %

In [122]:
df_arrive.iteritems?

In [ ]:
df_arrive['Country'].iteritems

In [153]:
percent_int = len(df_arrive[df_arrive['Country'] != 'United States']) / len(df_arrive['Country'])
print(percent_int*100,'%')

10.0 %

In [166]:
percent_int = len(df_dep[df_dep['Country'] != 'United States']) / len(df_arrive['Country'])
print(percent_int*100,'%')

10.0 %

In [173]:
percent_int = len(df_dep[df_dep['International'] != 'N']) / len(df_arrive['International'])
print(percent_int*100, '%')

10.0 %

5) Actually, it looks like a bunch of these routes are codeshares.  That means they are marketed by this airline, but operated by a different airline.  See the note in the data documentation on openflights.org/data.  The implication of this is that there are duplicates.

Can you figure out which ones are duplicates?  Can you then create a dataframe with only the unique routes?  How many unique inbound and outbound routes are there? 

Remember, someone has to operate the flight, so if all the routes to/from a particular airport are listed as codeshares, then something is funny...

It is also possible that more than one airline actually operates a route between the same two airports. (Having this sort of competition generally means that you will get better fares as a traveler.)  It may not be obvious what is actually in the data set, so dig or do external research as needed.

In [359]:
df_arrive.head()

,Airline,AirlineID,SourceAirport,SourceAirportID,DestAirport,DestAirportID,Codeshare,Stops,Equipment,Name,Alias,IATA,ICAO,Callsign,Country,Active,International
0,9E,3976.0,ATL,3682.0,LEX,4017.0,NaN,0,CRJ,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,N
1,AA,24.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
2,AA,24.0,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
3,AA,24.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
4,AF,137.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ 717,Air France,NaN,AF,AFR,AIRFRANS,France,Y,Y

In [342]:
df2 = df_arrive.dropna(axis = 0,thresh = 16)
print(len(df2))
#df2.drop(df[])
df2

10

,Airline,AirlineID,SourceAirport,SourceAirportID,DestAirport,DestAirportID,Codeshare,Stops,Equipment,Name,Alias,IATA,ICAO,Callsign,Country,Active,International
2,AA,24.0,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
3,AA,24.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
4,AF,137.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ 717,Air France,NaN,AF,AFR,AIRFRANS,France,Y,Y
6,DL,2009.0,DCA,3520.0,LEX,4017.0,Y,0,CRJ,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
8,DL,2009.0,LGA,3697.0,LEX,4017.0,Y,0,ERJ,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
9,DL,2009.0,MSP,3858.0,LEX,4017.0,Y,0,CRJ,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
14,KL,3090.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ,KLM Royal Dutch Airlines,NaN,KL,KLM,KLM,Netherlands,Y,Y
15,UA,5209.0,IAH,3550.0,LEX,4017.0,Y,0,ERJ,United Airlines,NaN,UA,UAL,UNITED,United States,Y,N
16,UA,5209.0,ORD,3830.0,LEX,4017.0,Y,0,ERJ CRJ,United Airlines,NaN,UA,UAL,UNITED,United States,Y,N
19,US,5265.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4,US Airways,NaN,US,USA,U S AIR,United States,Y,N

In [356]:
#looked at LEX master plan and saw that only these 4 airlines are serving the airport, thus they are the only unique routes
#found only the routes with those 4 airlines (already filtered by code share b/c codeshare may be another airline ad for one of the 4)
df_arrive2 = df2[df2.isin(['AA', 'DL','G4','UA'])]

df_arrive2 = df_arrive2.dropna(how = 'all')
print(len(df_arrive2))
df_arrive2

7

,Airline,AirlineID,SourceAirport,SourceAirportID,DestAirport,DestAirportID,Codeshare,Stops,Equipment,Name,Alias,IATA,ICAO,Callsign,Country,Active,International
2,AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AA,NaN,NaN,NaN,NaN,NaN
3,AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AA,NaN,NaN,NaN,NaN,NaN
6,DL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL,NaN,NaN,NaN,NaN,NaN
8,DL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL,NaN,NaN,NaN,NaN,NaN
9,DL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL,NaN,NaN,NaN,NaN,NaN
15,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UA,NaN,NaN,NaN,NaN,NaN
16,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UA,NaN,NaN,NaN,NaN,NaN

In [373]:
#look through the routes that dont have a codeshare to see if there are any airlines outside of the 4 mentioned before that are running
#there are 3 
#making the total number of unique arrivals 10
dfY = df_arrive[df_arrive['Codeshare'].isnull() ]
dfY

,Airline,AirlineID,SourceAirport,SourceAirportID,DestAirport,DestAirportID,Codeshare,Stops,Equipment,Name,Alias,IATA,ICAO,Callsign,Country,Active,International
0,9E,3976.0,ATL,3682.0,LEX,4017.0,NaN,0,CRJ,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,N
1,AA,24.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
5,DL,2009.0,ATL,3682.0,LEX,4017.0,NaN,0,M88 717,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
7,DL,2009.0,DTW,3645.0,LEX,4017.0,NaN,0,717,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
10,G4,35.0,FLL,3533.0,LEX,4017.0,NaN,0,M80,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
11,G4,35.0,PGD,7056.0,LEX,4017.0,NaN,0,M80,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
12,G4,35.0,PIE,3617.0,LEX,4017.0,NaN,0,320,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
13,G4,35.0,SFB,4167.0,LEX,4017.0,NaN,0,M80 320,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
17,US,5265.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7,US Airways,NaN,US,USA,U S AIR,United States,Y,N
18,US,5265.0,DFW,3670.0,LEX,4017.0,NaN,0,ERD,US Airways,NaN,US,USA,U S AIR,United States,Y,N

In [374]:
#same process for departures
df3 = df_dep.dropna(axis = 0,thresh = 16)
print(len(df3))

df3

11

,Airline,AirlineID,SourceAirport,SourceAirportID,DestAirport,DestAirportID,Codeshare,Stops,Equipment,Name,Alias,IATA,ICAO,Callsign,Country,Active,International
1,AA,24.0,LEX,4017.0,CLT,3876.0,Y,0,CR7 CRJ,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
2,AA,24.0,LEX,4017.0,DFW,3670.0,Y,0,ERD ER4,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
3,AA,24.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
4,AF,137.0,LEX,4017.0,ATL,3682.0,Y,0,CRJ CR9,Air France,NaN,AF,AFR,AIRFRANS,France,Y,Y
6,DL,2009.0,LEX,4017.0,DCA,3520.0,Y,0,CRJ,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
7,DL,2009.0,LEX,4017.0,DTW,3645.0,Y,0,CR7 CRJ CR9,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
9,DL,2009.0,LEX,4017.0,MSP,3858.0,Y,0,CRJ,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
14,KL,3090.0,LEX,4017.0,ATL,3682.0,Y,0,CR9 CRJ,KLM Royal Dutch Airlines,NaN,KL,KLM,KLM,Netherlands,Y,Y
15,UA,5209.0,LEX,4017.0,IAH,3550.0,Y,0,ERJ,United Airlines,NaN,UA,UAL,UNITED,United States,Y,N
16,UA,5209.0,LEX,4017.0,ORD,3830.0,Y,0,ERJ CRJ,United Airlines,NaN,UA,UAL,UNITED,United States,Y,N
19,US,5265.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4,US Airways,NaN,US,USA,U S AIR,United States,Y,N

In [375]:
df_dep2 = df3[df3.isin(['AA', 'DL','G4','UA'])]

df_dep2 = df_dep2.dropna(how = 'all')
print(len(df_dep2))
df_dep2

8

,Airline,AirlineID,SourceAirport,SourceAirportID,DestAirport,DestAirportID,Codeshare,Stops,Equipment,Name,Alias,IATA,ICAO,Callsign,Country,Active,International
1,AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AA,NaN,NaN,NaN,NaN,NaN
2,AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AA,NaN,NaN,NaN,NaN,NaN
3,AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AA,NaN,NaN,NaN,NaN,NaN
6,DL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL,NaN,NaN,NaN,NaN,NaN
7,DL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL,NaN,NaN,NaN,NaN,NaN
9,DL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL,NaN,NaN,NaN,NaN,NaN
15,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UA,NaN,NaN,NaN,NaN,NaN
16,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UA,NaN,NaN,NaN,NaN,NaN

In [376]:
dfY2 = df_dep[df_dep['Codeshare'].isnull() ]
dfY2
#there are 3 flights outside of the 4 from the master plan that dont have a codeshare
#making the total 11 unique departure flights

,Airline,AirlineID,SourceAirport,SourceAirportID,DestAirport,DestAirportID,Codeshare,Stops,Equipment,Name,Alias,IATA,ICAO,Callsign,Country,Active,International
0,9E,3976.0,LEX,4017.0,ATL,3682.0,NaN,0,CRJ,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,N
5,DL,2009.0,LEX,4017.0,ATL,3682.0,NaN,0,M88 717,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
8,DL,2009.0,LEX,4017.0,LGA,3697.0,NaN,0,ERJ,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
10,G4,35.0,LEX,4017.0,FLL,3533.0,NaN,0,M80,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
11,G4,35.0,LEX,4017.0,PGD,7056.0,NaN,0,M80,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
12,G4,35.0,LEX,4017.0,PIE,3617.0,NaN,0,320,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
13,G4,35.0,LEX,4017.0,SFB,4167.0,NaN,0,M80 320,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
17,US,5265.0,LEX,4017.0,CLT,3876.0,NaN,0,CR7,US Airways,NaN,US,USA,U S AIR,United States,Y,N
18,US,5265.0,LEX,4017.0,DFW,3670.0,NaN,0,ERD,US Airways,NaN,US,USA,U S AIR,United States,Y,N